
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: calc(33.333% - 10px);
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .gallery img {
        width: 100%;
    }
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}